@{
   
}
<link rel="stylesheet" href="/assets/css/vip.css">
<link rel="stylesheet" href="/assets/js/scriptVIP.js">
<div class="pricing-container">
	<ul class="pricing-list bounce-invert">
		<li>
			<ul class="pricing-wrapper">
				<li data-type="monthly" class="is-visible">
					<header class="pricing-header">
						<h2>3 THÁNG</h2>
						<div class="price">
							<span class="value">100.000</span>
							<span class="currency">VND</span>
							<span class="duration"><del>150.000</del></span>
						</div>
					</header>
					<div class="pricing-body">
						<ul class="pricing-features">
							<li>Không bị làm phiền bởi quảng cáo</li>
							<li>Nghe nhạc offline chất lượng Lossless</li>
							<li>Upload lên đến 1000 bài hát</li>
							<li>Xem MV chất lượng Full HD</li>
						</ul>
					</div>
					<footer class="pricing-footer">
						<a class="select" href="#">Sign Up</a>
					</footer>
				</li>
			</ul>
		</li>
		<li>
			<ul class="pricing-wrapper">
				<li data-type="monthly" class="is-visible">
					<header class="pricing-header">
						<h2>6 THÁNG</h2>
						<div class="price">
							<span class="value">250.000</span>
							<span class="currency">VND</span>
							<span class="duration"><del>300.000</del></span>
						</div>
					</header>
					<div class="pricing-body">
						<ul class="pricing-features">
							<li>Không bị làm phiền bởi quảng cáo</li>
							<li>Nghe nhạc offline chất lượng Lossless</li>
							<li>Upload lên đến 1000 bài hát</li>
							<li>Xem MV chất lượng Full HD</li>
						</ul>
					</div>
					<footer class="pricing-footer">
						<a class="select" href="#">Sign Up</a>
					</footer>
				</li>
			</ul>
		</li>
		<li>
			<ul class="pricing-wrapper">
				<li data-type="monthly" class="is-visible">
					<header class="pricing-header">
						<h2>12 THÁNG</h2>
						<div class="price">
							<span class="value">500.000</span>
							<span class="currency">VND</span>
							<span class="duration"><del>900.000</del></span>
						</div>
					</header>
					<div class="pricing-body">
						<ul class="pricing-features">
							<li>Không bị làm phiền bởi quảng cáo</li>
							<li>Nghe nhạc offline chất lượng Lossless</li>
							<li>Upload lên đến 1000 bài hát</li>
							<li>Xem MV chất lượng Full HD</li>
						</ul>
					</div>
					<footer class="pricing-footer">
						<a class="select" href="#">Sign Up</a>
					</footer>
				</li>
			</ul>
		</li>
	</ul>
</div>