
@{
    ViewData["Title"] = "DownloadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DownloadFile</h1>
<div class="text-center">

    <h1>Click Link to download file</h1><br /><br />

    <a href="/Music/DownloadFile/" title="Download file"><b>DOWNLOAD</b></a>

</div>
